################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sahayee/bin/Debug/net7.0
/Sahayee/obj
